<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../fonts/merlo.woff2">
    <link rel="stylesheet" href="../fonts/ov-gothic.woff2">
    <script src="https://kit.fontawesome.com/4fbd4391f5.js" crossorigin="anonymous"></script>
    <title>Components | Outdoor Voices</title>
</head>
<body>

    <!-- Side navigation -->
    <div class="sidenav">
        <img class="sidenav__img" src="./img/blueOV.png">
        <br>
        <h6 class="sidenav__heading">Typography</h6>
        <ul class="sidenav__list">
            <li class="sidenav__body"><a href"?">H1</a></li>
            <li class="sidenav__body"><a href"?">H2</a></li>
            <li class="sidenav__body"><a href"?">H1</a></li>
        </ul>
    </div>

    <div class="container">

    <header class="sidebar">
    <h1>Outdoor Voices Web Design System</h1>
    </header>

    <br>
    _________________________
    <article>
    <p>h2 Cover Section Title</p>
    <img class="img-example"
        srcset="./img/h2(cover-section__title).png 2x"
        src="./img/h2(cover-section__title).png" 
        alt="h2">
    <div class="component-code">
        <h2 class="cover-section__title">Dressed for the outdoors.</h2>
    </div>
    </article>

    <br>
    _________________________
    <article>
    <p>h3 Carousel Section Title</p>
    <img class="img-example"
        srcset="./img/h3(carousel-section__title).png 2x"
        src="./img/h3(carousel-section__title).png" 
        alt="h3">
    <div class="component-code">
        <h3 class="h3__example">The Cozy Shop</h3>
    </div>
    </article>
    
    <br>
    _________________________
    <article>
    <p>h4 Shop Blocks Title</p>
    <img class="img-example"
        srcset="./img/h4(shop-blocks__title).png 2x"
        src="./img/h4(shop-blocks__title).png" 
        alt="h4">
    <div class="component-code">
        <h4 class="h4__example">Shop Men</h4>
    </div>
    </article>

    <br>
    _________________________
    <article>
    <p>h5 Image Grid Card Title</p>
    <img class="img-example"
        srcset="./img/h5(image-grid-card__title).png 2x"
        src="./img/h5(image-grid-card__title).png" 
        alt="h5">
    <div class="component-code">
        <h5 class="image-grid-card__title">Women's Pants</h5>
    </div>
    </article>

    <br>
    _________________________
    <article>
    <p>h6 Carousel Section Card Title</p>
    <img class="img-example"
        srcset="./img/h6(carousel-section-card__title).png 2x"
        src="./img/h6(carousel-section-card__title).png" 
        alt="h6">
    <div class="component-code">
        <h6 class="carousel-section-card__title">Stratus Sweatshirt</h6>
    </div>
    </article>

    <br>
    _________________________
    <article>
    <p>p Cover Section Body</p>
    <img class="img-example"
        srcset="./img/body(cover-section__body).png 2x"
        src="./img/body(cover-section__body).png" 
        alt="body for cover section">

    <div class="component-code">
        <p class="cover-section__body">OV Outdoors outfitting guide.</p>
    </div>
    </article>

    <br>
    _________________________
    <article>
    <p>p Carousel Section Card Body</p>
    <img class="img-example"
        srcset="./img/body(carousel-section-card__body).png 2x"
        src="./img/body(carousel-section-card__body).png" 
        alt="body for carousel section card">
    <div class="component-code">
        <p class="carousel-section-card__body">4 colors available.</p>
    </div>
    </article>

    <br>
    _________________________
    <article>
        <p>Main Nav</p>
        <img class="img-example"
            srcset="./img/main-nav.png 2x"
            src="./img/main-nav.png"
            alt="main nav">
        <div class="component-code"> 
        <div class="main-nav">
            <ul class="header__nav">
              <li class="header__nav-item"><a href="index.html">Women</a></li>
              <li class="header__nav-item"><a href="./About/index.html">Men</a></li>
              <li class="header__nav-item"><a href="./Services/index.html">Sales</a></li>
            </ul>
      
          <div class="main-nav__logo">
              <img class="logo__small" src="./img/Outdoor_Voices_Logo.png">
          </div>
      
              <ul class="header__nav">
                 <li class="header__nav-item"> <i class="fa-solid fa-magnifying-glass"></i></li>
                 <li class="header__nav-item"><i class="fa-solid fa-person"></i></li>
                 <li class="header__nav-item"><i class="fa-regular fa-heart"></i></li>
                 <li class="header__nav-item"><i class="fa-solid fa-trash"></i></li>
              </ul>
          </div>
        </div> 
    </article>

    <br>
    _________________________
    <article>
        <p>Button</p>
        <img class="img-example"
            srcset="./img/button.png 2x"
            src="./img/button.png"
            alt="main buttons">
        
        <div class="component-code">
        <button type="button">Shop — Women</button>
        </div>
    </article>

    <br>
    _________________________
    <article>
        <p>Two Buttons</p>
        <img class="img-example"
        srcset="./img/button__two.png 2x"
        src="./img/button__two.png"
        alt="Two buttons side by side">

        <div class="component-code">
            <div>
            <button type="button">Shop — Women</button>
            <button type="button" class="button-margin">Shop — Men</button>
            </div>
        </div>
    </article>

    <br>
    _________________________
    <article>
        <div>
        <p>Image Card with Text underneath</p>
        <img class="img-example"
            srcset="./img/image_grid_card_with_h5.png 2x"
            src="./img/image_grid_card_with_h5.png"
            alt="image with text underneath">
        </div>
        <br>

        <div class="component-code_h5_example">
            <img class="image-grid-card__image" src="./img/image_grid_card_1.webp">
            <h5 class="image-grid-card__title">Women's Pants</h5>
            </div>

    </article>

    <br>
    <br>
    _________________________
    <br>
    <article>
        <div>
        <p>Cover Section</p>
        <img class="img-example"
            srcset="./img/cover_section.png 2x"
            src="./img/cover_section.png"
            alt="cover section">
        </div>

        <div class="cover_section">

            <img 
                class="cover_section-image" 
                src="./img/cover_section-image.webp"
                alt="cover section image">
    
            <div class="cover_section-content">
        
                <div class="cover_section-content-text">
                    <h2 class="cover-section__title">Dressed for the outdoors.</h2>
                    <p class="cover-section__body">OV Outdoors outfitting guide.</p>
                </div>

                <div class="button-container">
                    <button type="button">Shop — Women</button>
                    <button type="button" class="button-margin">Shop — Men</button>
                </div>
            </div>

        </div>
    </article>

    <br>
    <br>
    _________________________
    <article>
        <p>Image Grid Section</p>
        <img class="img-example"
            srcset="./img/image_grid_section.png 2x"
            src="./img/image_grid_section.png"
            alt="cover section">
        
        <div class="image_grid_section">
            <h3 class="carousel-section__title">Shop The Look</h3>

            <div class="image_grid_section-content">

                <div class="product__img-h5">
                    <img class="image-grid-card__image" src="./img/image_grid_card_1.webp">
                    <h5 class="image-grid-card__title">Women's Pants</h5>
                </div>

                <div class="product__img-h5">
                    <img class="image-grid-card__image" src="./img/image_grid_card_2.webp">
                    <h5 class="image-grid-card__title">Find Your Fleece</h5>
                </div>

                <div class="product__img-h5">
                    <img class="image-grid-card__image" src="./img/image_grid_card_3.webp">
                    <h5 class="image-grid-card__title">Men's Pants</h5>
                </div>

            </div>

        </div>
    </article>

    <br>
    _________________________
    <article>


        <p>Shop Blocks</p>
        <img class="img-example"
            srcset="./img/shop_blocks_section.png 2x"
            src="./img/shop_blocks_section.png"
            alt="image grid with text on top of image">

        <div class="shop_blocks_section">

            <div class="shop_blocks_section-content">

                <div class="shop_blocks_section_card1">
                    <img class="shop-blocks__image" src="./img/shop_blocks_card_1.webp">
                    <h4 class="shop-blocks__title">Shop Women</h4>
                </div>

                <div class="shop_blocks_section_card2">
                    <img class="shop-blocks__image" src="./img/shop_blocks_card_2.webp">
                    <h4 class="shop-blocks__title">Shop Men</h4>
                </div>
            </div>

        </div>
    </article>

    <br>
    _________________________

    <div>
        <p>Footer</p>
        <img class="img-example"
            srcset="./img/footer.png 2x"
            src="./img/footer.png"
            alt="footer">
    </div>

    <footer class="footer">
        <div class="footer-section">
            <div>  <!-- Top Start -->
                <h2 class="cover-section__title">Join The Team</h2>
                <p class="carousel-section-card__body footer__body">Sign up for exclusive OV-only deals and early access to new products.</p>

                <div class="email-input-wrapper">
                    <div class="email-input-label">Email</div>
                    <input class="email-input-input" name="email" type="email">
                </div>
            </div> <!-- Top End -->

            
            <div class="email-signup__inputs"> <!-- Bottom Start -->
                <div> <!-- Bottom-Left Start -->
                <h3 class="carousel-section__title">Email preference:</h3>

                <p class="cover-section__body footer-signup__body">
                <input class="radio-input" type="radio" name="beantype" value="Whole Bean" >Women <br >
                <input class="radio-input" type="radio" name="beantype" value="Grounded" >Men <br >
                <input class="radio-input" type="radio" name="beantype" value="Grounded" >Both
                </p>
                </div> <!-- Bottom-Left End -->

                <div class="email-signup__button-container"> <!-- Bottom-Right Start -->
                    <button type="button">Sign Up Now</button>
                </div> <!-- Bottom-Right End -->
            </div> <!-- Bottom End -->


        </div>

        <div class="footer-section">
            <div class="footer-section__links">
                <ul class="footer__nav footer__nav-left">
                    <li class="footer__nav-item"><a href="index.html">My Account</a></li>
                    <li class="footer__nav-item"><a href="./About/index.html">Gift Cards</a></li>
                    <li class="footer__nav-item"><a href="./Services/index.html">Fabrics</a></li>
                    <li class="footer__nav-item"><a href="./Services/index.html">Shop</a></li>
                    <li class="footer__nav-item"><a href="./Services/index.html">Events</a></li>
                    <li class="footer__nav-item"><a href="./Services/index.html">Returns</a></li>
                    <li class="footer__nav-item"><a href="./Services/index.html">Help Center</a></li>
                </ul>

                    <ul class="footer__nav footer__nav-left">
                        <li class="footer__nav-item"><a href="index.html">Student Discount</a></li>
                        <li class="footer__nav-item"><a href="./About/index.html">About Us</a></li>
                        <li class="footer__nav-item"><a href="./Services/index.html">Careers</a></li>
                        <li class="footer__nav-item"><a href="./Services/index.html">Sustainability</a></li>
                        <li class="footer__nav-item"><a href="./Services/index.html">Accessibility</a></li>
                        <li class="footer__nav-item"><a href="./Services/index.html">Privacy</a></li>
                        <li class="footer__nav-item"><a href="./Services/index.html">Terms</a></li>
                    </ul>
              </div>
              <div class="footer-section__socials">
                <i class="fa-brands fa-instagram footer-social"></i>
                <i class="fa-brands fa-facebook footer-social"></i>
                <i class="fa-brands fa-tiktok footer-social"></i>
                <i class="fa-brands fa-spotify footer-social"></i>
              </div>
              <div class="footer-section__copyright">
                <p class="carousel-section-card__body footer__body">&copy;2023 Outdoor Voices</p>
              </div>

        </div>
    </footer> 
    
    <br>
    _________________________

    <!-- Carousel -->
    <p>Carousel</p>
        <img class="img-example"
            srcset="./img/carousel.png 2x"
            src="./img/carousel.png"
            alt="carousel section">

    <div class="carousel">
        <div class="carousel-inner">
            <h3 class="carousel-section__title">The Cozy Shop</h3>
            <!-- Carousel Card 1 -->
            <div class="carousel-product-card">
                <div class="carousel-product-image-wrapper">
                    <img class="carousel-product-image" src="https://images.ov.app/eyJidWNrZXQiOiJvdi1lbXMiLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwiaGVpZ2h0IjoxMjAwLCJ3aWR0aCI6NjAwfSwidG9Gb3JtYXQiOiJ3ZWJwIn0sImtleSI6Im1lZGlhL3Byb2R1Y3RzL3N0cmF0dXMtZnVubmVsLW5lY2svYmxhY2svVzMwMjAyOC1DTVMtQkxLX1N0cmF0dXNfRnVubmVsX05lY2tfQmxhY2tfMDMyX0VYUDI0MTAxMl93eDhUenZvLmpwZyJ9" />
                    <div class="carousel-product-image-hover">
                        <img class="carousel-product-image" src="https://images.ov.app/eyJidWNrZXQiOiJvdi1lbXMiLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwiaGVpZ2h0IjoxMjAwLCJ3aWR0aCI6NjAwfSwidG9Gb3JtYXQiOiJ3ZWJwIn0sImtleSI6Im1lZGlhL3Byb2R1Y3RzL3N0cmF0dXMtZnVubmVsLW5lY2svYmxhY2svVzMwMjAyOC1DTVMtQkxLX1N0cmF0dXNfRnVubmVsX05lY2tfQmxhY2tfMDQ5X0VYUDI0MTAxMi5qcGcifQ==" />
                    </div>
            </div>
                <figcaption class="carousel-product-caption">
                    <h6 class="carousel-section-card__title">Stratus Funnel Neck</h6>
                    <p class="carousel-section-card__body">5 colors available.</p>
                </figcaption>
            </div>

            <!-- Carousel Card 2 -->
            <div class="carousel-product-card">
                <div class="carousel-product-image-wrapper">
                    <img class="carousel-product-image" src="https://images.ov.app/eyJidWNrZXQiOiJvdi1lbXMiLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwiaGVpZ2h0IjoxMjAwLCJ3aWR0aCI6NjAwfSwidG9Gb3JtYXQiOiJ3ZWJwIn0sImtleSI6Im1lZGlhL3Byb2R1Y3RzL3N0cmF0dXMtcGFudC9saW5lbi9XNzAyMDI5LUNNUy1MTk5fU3RyYXR1c19QYW50X0xpbmVuXzAzMl9FWFAyNDEwMTIuanBnIn0=" />
                    <div class="carousel-product-image-hover">
                        <img class="carousel-product-image" src="https://images.ov.app/eyJidWNrZXQiOiJvdi1lbXMiLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwiaGVpZ2h0IjoxMjAwLCJ3aWR0aCI6NjAwfSwidG9Gb3JtYXQiOiJ3ZWJwIn0sImtleSI6Im1lZGlhL3Byb2R1Y3RzL3N0cmF0dXMtcGFudC9saW5lbi9XNzAyMDI5LUNNUy1MTk5fU3RyYXR1c19QYW50X0xpbmVuXzAyMF9FWFAyNDEwMTIuanBnIn0=" />
                    </div>
            </div>
                <figcaption class="carousel-product-caption">
                    <h6 class="carousel-section-card__title">Stratus Pant</h6>
                    <p class="carousel-section-card__body">4 colors available.</p>
                </figcaption>
            </div>

            <!-- Carousel Card 3 -->
            <div class="carousel-product-card">
                <div class="carousel-product-image-wrapper">
                    <img class="carousel-product-image" src="https://images.ov.app/eyJidWNrZXQiOiJvdi1lbXMiLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwiaGVpZ2h0IjoxMjAwLCJ3aWR0aCI6NjAwfSwidG9Gb3JtYXQiOiJ3ZWJwIn0sImtleSI6Im1lZGlhL3Byb2R1Y3RzL2Nsb3Vka25pdC1sb3VuZ2UtcGFudC9uYXZ5L003MDIwNjUtSE1KLU5WWV9DbG91ZEtuaXRfUGFudF9OYXZ5XzAyMl92NTNPYk5XLmpwZyJ9" />
                    <div class="carousel-product-image-hover">
                        <img class="carousel-product-image" src="https://images.ov.app/eyJidWNrZXQiOiJvdi1lbXMiLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwiaGVpZ2h0IjoxMjAwLCJ3aWR0aCI6NjAwfSwidG9Gb3JtYXQiOiJ3ZWJwIn0sImtleSI6Im1lZGlhL3Byb2R1Y3RzL2Nsb3Vka25pdC1sb3VuZ2UtcGFudC9uYXZ5L003MDIwNjUtSE1KLU5WWV9DbG91ZEtuaXRfUGFudF9OYXZ5XzAzMS5qcGcifQ==" />
                    </div>
            </div>
                <figcaption class="carousel-product-caption">
                    <h6 class="carousel-section-card__title">CloundKnit Relaxed Sweatpant</h6>
                    <p class="carousel-section-card__body">3 colors available.</p>
                </figcaption>
            </div>

            <!-- Carousel Card 4 -->
            <div class="carousel-product-card">
                <div class="carousel-product-image-wrapper">
                    <img class="carousel-product-image" src="https://images.ov.app/eyJidWNrZXQiOiJvdi1lbXMiLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwiaGVpZ2h0IjoxMjAwLCJ3aWR0aCI6NjAwfSwidG9Gb3JtYXQiOiJ3ZWJwIn0sImtleSI6Im1lZGlhL3Byb2R1Y3RzL3N0cmF0dXMtcGFudC9ibGFjay9NNzAyMDMxLUNNUy1CTEtfU3RyYXR1c19QYW50X0JsYWNrXzI4NF9FWFAyNDEwMTIuanBnIn0=" />
                    <div class="carousel-product-image-hover">
                        <img class="carousel-product-image" src="https://images.ov.app/eyJidWNrZXQiOiJvdi1lbXMiLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwiaGVpZ2h0IjoxMjAwLCJ3aWR0aCI6NjAwfSwidG9Gb3JtYXQiOiJ3ZWJwIn0sImtleSI6Im1lZGlhL3Byb2R1Y3RzL3N0cmF0dXMtcGFudC9ibGFjay9NNzAyMDMxLUNNUy1CTEtfU3RyYXR1c19QYW50X0JsYWNrXzAyNF9FWFAyNDEwMTIuanBnIn0=" />
                    </div>
            </div>
                <figcaption class="carousel-product-caption">
                    <h6 class="carousel-section-card__title">Stratus Pant</h6>
                    <p class="carousel-section-card__body">3 colors available.</p>
                </figcaption>
            </div>

             <!-- Carousel Card 5 -->
             <div class="carousel-product-card">
                <div class="carousel-product-image-wrapper">
                    <img class="carousel-product-image" src="https://images.ov.app/eyJidWNrZXQiOiJvdi1lbXMiLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwiaGVpZ2h0IjoxMjAwLCJ3aWR0aCI6NjAwfSwidG9Gb3JtYXQiOiJ3ZWJwIn0sImtleSI6Im1lZGlhL3Byb2R1Y3RzL21lZ2FmbGVlY2Utc25hcC1qYWNrZXQvb2xpdmUtYnJhbmNoL1c4MDIyOTUtV05GLU9CSF9NZWdhRmxlZWNlX1NuYXBfSmFja2V0X09saXZlX0JyYW5jaF8wNDJfRVhQMjQxMDEyLmpwZyJ9" />
                    <div class="carousel-product-image-hover">
                        <img class="carousel-product-image" src="https://images.ov.app/eyJidWNrZXQiOiJvdi1lbXMiLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwiaGVpZ2h0IjoxMjAwLCJ3aWR0aCI6NjAwfSwidG9Gb3JtYXQiOiJ3ZWJwIn0sImtleSI6Im1lZGlhL3Byb2R1Y3RzL21lZ2FmbGVlY2Utc25hcC1qYWNrZXQvb2xpdmUtYnJhbmNoL1c4MDIyOTUtV05GLU9CSF9NZWdhRmxlZWNlX1NuYXBfSmFja2V0X09saXZlX0JyYW5jaF8wMDFfRVhQMjQxMDEyLmpwZyJ9" />
                    </div>
            </div>
                <figcaption class="carousel-product-caption">
                    <h6 class="carousel-section-card__title">MegaFleece Snap Jacket</h6>
                    <p class="carousel-section-card__body">2 colors available.</p>
                </figcaption>
            </div>

             <!-- Carousel Card 6 -->
             <div class="carousel-product-card">
                <div class="carousel-product-image-wrapper">
                    <img class="carousel-product-image" src="https://images.ov.app/eyJidWNrZXQiOiJvdi1lbXMiLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwiaGVpZ2h0IjoxMjAwLCJ3aWR0aCI6NjAwfSwidG9Gb3JtYXQiOiJ3ZWJwIn0sImtleSI6Im1lZGlhL3Byb2R1Y3RzL3N0cmF0dXMtZnVubmVsLW5lY2svYmxhY2svVzMwMjAyOC1DTVMtQkxLX1N0cmF0dXNfRnVubmVsX05lY2tfQmxhY2tfMDMyX0VYUDI0MTAxMl93eDhUenZvLmpwZyJ9" />
                    <div class="carousel-product-image-hover">
                        <img class="carousel-product-image" src="https://images.ov.app/eyJidWNrZXQiOiJvdi1lbXMiLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwiaGVpZ2h0IjoxMjAwLCJ3aWR0aCI6NjAwfSwidG9Gb3JtYXQiOiJ3ZWJwIn0sImtleSI6Im1lZGlhL3Byb2R1Y3RzL3N0cmF0dXMtZnVubmVsLW5lY2svYmxhY2svVzMwMjAyOC1DTVMtQkxLX1N0cmF0dXNfRnVubmVsX05lY2tfQmxhY2tfMDQ5X0VYUDI0MTAxMi5qcGcifQ==" />
                    </div>
            </div>
                <figcaption class="carousel-product-caption">
                    <h6 class="carousel-section-card__title">Stratus Funnel Neck</h6>
                    <p class="carousel-section-card__body">5 colors available.</p>
                </figcaption>
            </div>

             <!-- Carousel Card 7 -->
             <div class="carousel-product-card">
                <div class="carousel-product-image-wrapper">
                    <img class="carousel-product-image" src="https://images.ov.app/eyJidWNrZXQiOiJvdi1lbXMiLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwiaGVpZ2h0IjoxMjAwLCJ3aWR0aCI6NjAwfSwidG9Gb3JtYXQiOiJ3ZWJwIn0sImtleSI6Im1lZGlhL3Byb2R1Y3RzL3JlY3RyZWstcGFudC9ibGFjay9XNzAxMzQ1LURDVy1CTEtfUmVjVHJla19QYW50X1JFU0hPT1RfQmxhY2tfMDM2LmpwZyJ9" />
                    <div class="carousel-product-image-hover">
                        <img class="carousel-product-image" src="https://images.ov.app/eyJidWNrZXQiOiJvdi1lbXMiLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwiaGVpZ2h0IjoxMjAwLCJ3aWR0aCI6NjAwfSwidG9Gb3JtYXQiOiJ3ZWJwIn0sImtleSI6Im1lZGlhL3Byb2R1Y3RzL3JlY3RyZWstcGFudC9ibGFjay9XNzAxMzQ1LURDVy1CTEtfUmVjVHJla19QYW50X1JFU0hPT1RfQmxhY2tfMDYwLmpwZyJ9" />
            </div>
                <figcaption class="carousel-product-caption">
                    <h6 class="carousel-section-card__title">RecTrek 26" Pant</h6>
                    <p class="carousel-section-card__body">6 colors available.</p>
                </figcaption>
            </div>

   
        </div>
        <button class="carousel-button_icon carousel-button-left">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button class="carousel-button_icon carousel-button-right">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
        
        <div class="button__carousel">
            <button type="button">Shop All</button>
        </div>

    </div>
    </div>
</body>
</html>