<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../fonts/merlo.woff2">
    <link rel="stylesheet" href="../fonts/ov-gothic.woff2">
    <script src="https://kit.fontawesome.com/4fbd4391f5.js" crossorigin="anonymous"></script>
    <title>Components | Outdoor Voices</title>
</head>
<body>
    <h1>Web components</h1>
    <p>Typography Defaults</p>

    <article>
    <p>h2 Cover Section Title</p>
    <img 
        srcset="./img/h2(cover-section__title).png 2x"
        src="./img/h2(cover-section__title).png" 
        alt="h2">
    <div class="component-code">
        <h2 class="cover-section__title">Dressed for the outdoors.</h2>
    </div>
    </article>

    <article>
    <p>h3 Carousel Section Title</p>
    <img 
        srcset="./img/h3(carousel-section__title).png 2x"
        src="./img/h3(carousel-section__title).png" 
        alt="h3">
    <div class="component-code">
        <h3 class="carousel-section__title">The Cozy Shop</h3>
    </div>
    </article>
    
    <article>
    <p>h4 Shop Blocks Title</p>
    <img 
        srcset="./img/h4(shop-blocks__title).png 2x"
        src="./img/h4(shop-blocks__title).png" 
        alt="h4">
    <div class="component-code">
        <h4 class="shop-blocks__title">Shop Men</h4>
    </div>
    </article>

    <article>
    <p>h5 Image Grid Card Title</p>
    <img 
        srcset="./img/h5(image-grid-card__title).png 2x"
        src="./img/h5(image-grid-card__title).png" 
        alt="h5">
    <div class="component-code">
        <h5 class="image-grid-card__title">Women's Pants</h5>
    </div>
    </article>

    <article>
    <p>h6 Carousel Section Card Title</p>
    <img 
        srcset="./img/h6(carousel-section-card__title).png 2x"
        src="./img/h6(carousel-section-card__title).png" 
        alt="h6">
    <div class="component-code">
        <h6 class="carousel-section-card__title">Stratus Sweatshirt</h6>
    </div>
    </article>

    <article>
    <p>p Cover Section Body</p>
    <img 
        srcset="./img/body(cover-section__body).png 2x"
        src="./img/body(cover-section__body).png" 
        alt="body for cover section">
    <div class="component-code">
        <p class="cover-section__body">OV Outdoors outfitting guide.</p>
    </div>
    </article>

    <article>
    <p>p Carousel Section Card Body</p>
    <img 
        srcset="./img/body(carousel-section-card__body).png 2x"
        src="./img/body(carousel-section-card__body).png" 
        alt="body for carousel section card">
    <div class="component-code">
        <p class="carousel-section-card__body">4 colors available.</p>
    </div>
    </article>

</body>
</html>